body {
  background-color: #09031D;
  cursor: default;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  //font-family: 'Raleway', sans-serif;
  background-image: url("../images/bg.svg");
  background-size: 100%;
  background-position: center;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1440px;
}

.header-footer {
  .menu {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;

      a {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1;
      }

      li {
        + li {
          margin-left: 91px;
          position: relative;

          &::after {
            position: absolute;
            left: -50px;
            width: 11px;
            height: 18px;
            font-weight: 500;
            font-size: 16px;
            line-height: 1;
            top: 50%;
            transform: translateY(-50%);
            content: "/";
          }
        }
      }
    }
  }
}

.rv-teleg {
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  height: 60px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-family: 'Raleway', sans-serif;
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
  }

  img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    object-fit: contain;
  }
}

h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 91px;

  span {
    padding: 9px 20px 7px;
    width: fit-content;
    margin: 0 auto;
    display: block;
    color: #239AE3;
    background-color: #FFFFFF;
    border-radius: 5px;
    transform: rotate(-2deg);
  }
}

.cities {
  margin-bottom: 58px;

  &__support {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    bottom: 0;
    left: 0;
    height: 100%;

    &::after,
    &::before {
      position: absolute;
      top: -16px;
      right: -16px;
      width: 82px;
      height: 82px;
      opacity: 0.3;
      content: url("../images/deco1.svg");
      transform: rotate(90deg);
    }

    &::before {
      top: auto;
      bottom: -16px;
      right: -16px;
      transform: rotate(180deg);
    }
  }

  &__helper {
    position: absolute;
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    bottom: 0;
    left: 0;
    height: 100%;
  }

  &__list {
    margin-bottom: 50px;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;

    li {
      min-height: 215px;
      box-sizing: border-box;
      margin: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      border: 4px solid #239AE3;
      border-radius: 2px;
      position: relative;

      &::after,
      &::before {
        position: absolute;
        top: -16px;
        width: 82px;
        height: 82px;
        left: -16px;
        opacity: 0.3;
        content: url("../images/deco1.svg");
      }

      &::before {
        top: auto;
        bottom: -16px;
        transform: rotate(-90deg);
      }

      &:nth-child(4) {
        h4 {
          margin-bottom: 40px;
          font-size: 38px;
        }

        .cities__wrap {
          margin-bottom: -19px;
        }
      }

      h4 {
        z-index: 5;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        margin-bottom: 22px;
        font-size: 48px;
        line-height: 1;
        text-transform: uppercase;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  &__wrap {
    position: relative;
    max-width: 100px;
    max-height: 100px;
    z-index: 5;
    margin-bottom: -6px;

    &::after {
      position: absolute;
      bottom: -100%;
      left: 50%;
      content: "";
      transform: translateX(-50%);
      width: 180px;
      height: 180px;
      border-radius: 50%;
      z-index: -1;
      background-color: #239AE3;
      filter: blur(70px);
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__price {
    margin-left: 40px;
    height: 95px;
    background-color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    max-width: 358px;
    width: 100%;
    position: relative;

    &::before {
      position: absolute;
      inset: 5px;
      content: "";
      border: 1px dashed #239AE3;
      border-radius: 2.5px;
    }

    span {
      display: block;
      font-size: 20px;
      line-height: 1;
      margin-bottom: 5px;
      color: #09031D;
    }

    p {
      font-weight: 600;
      font-size: 32px;
      line-height: 1;
      color: #09031D;
    }

    &:last-of-type {
      margin-right: 40px;
    }
  }
}

.rv-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 100%;
  border-radius: 5px;
  padding: 0 22px;
  background: #239AE3;
  position: relative;
  z-index: 5;
  box-shadow: inset 0 0 60px rgba(255, 255, 255, 0.2);

  &::after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    content: "";
    background-color: rgba(#239AE3, 0.4);
    box-shadow: inset 0 0 60px rgba(255, 255, 255, 0.2);
    border-radius: 5px;
  }

  span {
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    font-family: 'Manrope', sans-serif;
  }
}

.rv-button-img {
  padding: 0;
  max-width: 95px;
  min-width: 95px;
}