body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  color: #fff;

  //font-family: 'Raleway', sans-serif;
  background-image: url("../images/bg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #09031d;
  cursor: default;
}

.logo {
  @include media($lg) {
    z-index: 40;
  }

  @include media($sm) {
    max-width: 190px;
  }
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1440px;
}

.header {
  position: fixed !important;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: none;
  background-color: transparent;
  transition: all 0.3s;
}

.header--active {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: rgba(#000, 0.8);

  .menu {
    height: 80px !important;

    @include media($lg) {
      height: 60px !important;
    }
  }
}

.header-footer {
  position: relative;
  z-index: 40;

  .burger {
    position: relative;
    z-index: 40;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;

    @include media($lg) {
      display: flex;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      transition: all 0.3s;

      &:first-of-type {
        visibility: visible;
        opacity: 1;
      }

      &:last-of-type {
        visibility: hidden;
        opacity: 0;
      }
    }
  }

  .burger--active {
    img {
      &:first-of-type {
        visibility: hidden;
        opacity: 0;
      }

      &:last-of-type {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    transition: all 0.3s;

    @include media($lg) {
      height: 60px;
    }

    ul {
      display: flex;

      a {
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1;
      }

      li {
        + li {
          position: relative;
          margin-left: 91px;

          &::after {
            content: "/";
            position: absolute;
            left: -50px;
            top: 50%;
            width: 11px;
            height: 18px;
            font-weight: 500;
            font-size: 16px;
            line-height: 1;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}

.menu__mob {
  z-index: 15;
  display: flex;
  align-items: center;
  width: 100%;

  @include media($lg) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 30;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 100px;
    padding-bottom: 20vh;
    width: 100%;
    height: 120vh;
    background-color: rgba(9, 3, 29, 0.8);
    transform: translateX(200%);
    transition: all 0.4s;
    backdrop-filter: blur(7.5px);
  }

  ul {
    margin-right: auto;
    margin-left: auto;

    @include media($lg) {
      flex-direction: column;
      margin-bottom: 40px;
    }

    li {
      + li {
        @include media($lg) {
          margin-top: 40px;
          margin-left: 0 !important;

          &::after {
            display: none;
          }
        }
      }
    }

    a {
      @include media($lg) {
        font-weight: 500;
        font-size: 16px;
        line-height: 1;
        text-align: center;
      }
    }
  }
}

.menu__mob-active {
  @include media($lg) {
    transform: translateX(0);
  }
}

.menu__mob-title {
  position: relative;
  display: none;
  align-items: center;
  margin: 40px 0;
  padding-left: 60px;
  height: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @include media($lg) {
    display: flex;
  }

  &::after {
    content: url("../images/casino.svg");
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
  }
}

.menu__mob-head {
  display: none;
  font-weight: 700;
  font-size: 79px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;

  @include media($lg) {
    display: block;
  }

  span {
    display: block;
    font-size: 52px;
    line-height: 1;
  }
}

.hero {
  position: relative;
  z-index: 30;
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  background-image: url("../images/hero-under.png?as=webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(9, 3, 29, 0) 63.54%, #09031d 100%);
  }

  &::after {
    content: "";
    position: absolute;
    right: -34%;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/hero-decor.png?as=webp");
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
    mix-blend-mode: lighten;

    @include media(1550px) {
      right: -31%;
    }

    @include media(1300px) {
      right: -25%;
      opacity: 0.8;

      //transform: scale(0.7);
    }

    @include media($lg) {
      right: 50%;
      bottom: 0;
      opacity: 0.6;
      transform: translateX(50%) scale(1);
    }
  }

  &__wrapper {
    position: relative;
    z-index: 30;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 100px;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    max-width: 610px;

    @include media(1400px) {
      max-width: 580px;
    }

    @include media($lg) {
      align-items: center;
      justify-content: flex-start;
      padding-top: 120px;
      max-width: 100%;
      text-align: center;
    }

    h5 {
      position: relative;
      display: flex;
      align-items: center;
      margin-left: 8px;
      padding-left: 60px;
      width: fit-content;
      height: 40px;
      font-weight: 400;
      font-size: 24px;
      line-height: 1;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      @include media($lg) {
        margin-bottom: 20px;
      }

      @include media($md) {
        margin-bottom: 26px;
        font-size: 20px;
      }

      &::after {
        content: url("../images/casino.svg");
        position: absolute;
        left: 0;
        top: 0;
        width: 40px;
        height: 40px;
      }
    }

    h1 {
      margin-bottom: 29px;
      font-size: 128px;
      line-height: 1;
      text-transform: uppercase;

      @include media(1400px) {
        font-size: 100px;

        span {
          font-size: 68px;
        }
      }

      @include media($lg) {
        font-size: 90px;

        span {
          font-size: 60px;
        }
      }

      @include media($md) {
        font-size: 78px;

        span {
          font-size: 52px;
        }
      }

      span {
        display: block;
        font-weight: 700;
        font-size: 84px;
        line-height: 1;
        text-transform: uppercase;
      }
    }

    p {
      position: relative;
      margin-bottom: 40px;
      padding: 11px 20px;
      border-radius: 5px;
      text-align: left;
      background-color: rgba(0, 0, 0, 0.25);

      @include media(1400px) {
        font-size: 20px;
      }

      &::after,
      &::before {
        content: url("../images/deco-blue.svg");
        position: absolute;
        width: 80px;
        height: 80px;
      }

      &::before {
        right: 0;
        bottom: 0;
        transform: rotate(180deg);
      }

      &::after {
        left: 0;
        top: 0;
      }

      span {
        font-weight: 600;
      }
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include media($md) {
      flex-direction: column;
    }

    .button {
      display: flex;
      align-items: center;
      margin-left: 20px;
      padding: 0 53px;
      width: fit-content;
      height: 90px;
      border: 1px solid #fff;
      border-radius: 5px;
      box-shadow: (0 0 10px #fff);
      background-color: transparent;
      cursor: pointer;

      @include media($lg) {
        height: 80px;
      }

      @include media($md) {
        justify-content: center;
        margin-top: 20px;
        margin-left: 0;
        width: 100%;
        max-width: 100%;
        text-align: center;
      }

      span {
        font-family: "Manrope", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 1;
        text-transform: uppercase;
      }
    }
  }
}

.cities__mob {
  display: none;

  @include media(570px) {
    display: block;
    margin-bottom: 20px;
  }
}

.rv-teleg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 5px;

  span {
    display: block;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
  }

  img {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
}

h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;

  @include media($xxl) {
    font-size: 54px;
  }

  @include media($xl) {
    font-size: 46px;
  }

  @include media($lg) {
    font-size: 32px;
  }

  span {
    display: block;
    margin: 0 auto;
    padding: 9px 20px 7px;
    width: fit-content;
    border-radius: 5px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: #239ae3;
    background-color: #fff;
    transform: rotate(-2deg);

    @include media($lg) {
      padding: 9px 7px 7px;
      font-size: 24px;
    }
  }
}

.cities {
  position: relative;
  margin-bottom: 58px;
  background-image: url("../images/cities-bg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  h2 {
    margin-bottom: 91px;

    @include media($xxl) {
      margin-bottom: 60px;
    }

    @include media($lg) {
      margin-bottom: 40px;
    }
  }

  &__support {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;

    &::after,
    &::before {
      content: url("../images/deco1.svg");
      position: absolute;
      right: -16px;
      top: -16px;
      opacity: 0.3;
      width: 82px;
      height: 82px;
      transform: rotate(90deg);
    }

    &::before {
      right: -16px;
      top: auto;
      bottom: -16px;
      transform: rotate(180deg);
    }
  }

  &__helper {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__list {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 50px;

    @include media(913px) {
      margin-bottom: 20px;
    }

    @include media(570px) {
      display: none;
    }

    li {
      box-sizing: border-box;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      margin: 10px;
      min-height: 215px;
      border: 4px solid #239ae3;
      border-radius: 2px;

      @include media($lg) {
        min-height: 195px;
      }

      @include media(913px) {
        min-height: 170px;
      }

      @include media($md) {
        min-height: 150px;
      }

      @include media(696px) {
        min-height: 130px;
      }

      &::after,
      &::before {
        content: url("../images/deco1.svg");
        position: absolute;
        left: -16px;
        top: -16px;
        opacity: 0.3;
        width: 82px;
        height: 82px;
      }

      &::before {
        top: auto;
        bottom: -16px;
        transform: rotate(-90deg);
      }

      &:nth-child(4) {
        h4 {
          margin-bottom: 40px;
          font-size: 38px;

          @include media($xxl) {
            font-size: 28px;
          }

          @include media($lg) {
            font-size: 20px;
          }

          @include media($md) {
            margin-bottom: 20px;
            font-size: 16px;
          }

          @include media(696px) {
            font-size: 14px;
          }
        }

        .cities__wrap {
          margin-bottom: -19px;

          @include media(696px) {
            margin-bottom: -10px;
          }
        }
      }

      h4 {
        z-index: 10;
        margin-bottom: 22px;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;

        @include media($xxl) {
          font-size: 36px;
        }

        @include media(1100px) {
          font-size: 30px;
        }

        @include media(913px) {
          font-size: 22px;
        }

        @include media($md) {
          margin-bottom: 10px;
        }

        @include media(696px) {
          font-size: 16px;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;

        @include media(913px) {
          max-width: 80px;
        }

        @include media(696px) {
          max-width: 60px;
        }
      }
    }
  }

  &__wrap {
    position: relative;
    z-index: 5;
    margin-bottom: -6px;
    max-width: 100px;
    max-height: 100px;

    @include media(696px) {
      margin-bottom: -2px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -100%;
      z-index: -1;
      width: 180px;
      height: 180px;
      border-radius: 50%;
      background-color: #239ae3;
      filter: blur(70px);
      transform: translateX(-50%);
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @include media($lg) {
      flex-direction: column;
    }

    .rv-button-img {
      @include media($xl) {
        display: none;
      }
    }
  }

  &__price {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    padding: 0 30px;
    width: 100%;
    height: 95px;
    max-width: 358px;
    border-radius: 5px;
    background-color: #fff;

    @include media($xl) {
      margin-left: 0;
      padding: 0 20px;
    }

    @include media($lg) {
      margin: 0;
      width: 100%;
      height: 75px;
      max-width: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      border: 1px dashed #239ae3;
      border-radius: 2.5px;
      inset: 5px;
    }

    span {
      display: block;
      margin-bottom: 5px;
      font-size: 20px;
      line-height: 1;
      text-align: center;
      color: #09031d;

      @include media($lg) {
        font-size: 16px;
      }
    }

    p {
      font-weight: 600;
      font-size: 32px;
      line-height: 1;
      color: #09031d;

      @include media($xxl) {
        font-size: 28px;
      }

      @include media($lg) {
        font-size: 24px;
      }
    }

    &:last-of-type {
      margin-right: 40px;

      @include media($xl) {
        margin-right: 20px;
        margin-left: 20px;
      }

      @include media($lg) {
        margin: 20px 0;
      }
    }
  }
}

.rv-button {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 22px;
  width: 100%;
  height: 90px;
  border-radius: 5px;
  box-shadow: inset 0 0 60px rgba(255, 255, 255, 0.2);
  background-color: #239ae3;

  @include media($lg) {
    height: 80px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: inset 0 0 60px rgba(255, 255, 255, 0.2);
    background-color: rgba(#239ae3, 0.4);
  }

  span {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
  }
}

.rv-button-img {
  padding: 0;
  min-width: 95px;
  max-width: 95px;
}

.strong {
  position: relative;
  margin: 0 auto 28px;
  overflow: hidden;

  @include media(700px) {
    margin: 0 auto 20px;
  }

  h2 {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    padding-right: 20%;
    height: 440px;
    text-align: left;
    mix-blend-mode: lighten;

    @include media(1900px) {
      font-size: 54px;
    }

    @include media(1370px) {
      padding-right: 35%;
      font-size: 44px;
    }

    @include media(1200px) {
      height: 400px;
      font-size: 34px;
    }

    @include media(800px) {
      padding-right: 45%;
      height: 300px;
      font-size: 24px;
    }

    @include media(500px) {
      height: 200px;
    }

    &::before {
      content: "";
      position: absolute;
      right: -15%;
      top: 50%;
      width: 500px;
      height: 500px;
      background-image: url("../images/strong.png?as=webp");
      background-size: contain;
      background-repeat: no-repeat;
      background-color: transparent;
      mix-blend-mode: lighten;
      transform: translateY(-50%);

      @include media(1900px) {
        right: -10%;
      }

      @include media(1600px) {
        right: -8%;
      }

      @include media(1200px) {
        width: 300px;
        height: 300px;
      }

      @include media(800px) {
        right: -13%;
        width: 300px;
        height: 300px;
      }

      @include media(500px) {
        right: -20%;
        width: 250px;
        height: 250px;
      }

      @include media(400px) {
        right: -20%;
        width: 200px;
        height: 200px;
      }
    }

    &::after {
      content: url("../images/strong-text.svg");
      position: absolute;
      right: 50%;
      top: 50%;
      z-index: -1;
      transform: translate(50%, -50%) scale(0.9);

      @include media(1900px) {
        transform: translate(50%, -50%) scale(0.7);
      }

      @include media(1200px) {
        transform: translate(50%, -50%) scale(0.5);
      }

      @include media(800px) {
        transform: translate(50%, -50%) scale(0.4);
      }

      @include media(500px) {
        transform: translate(50%, -50%) scale(0.3);
      }
    }
  }
}

.rules {
  position: relative;
  z-index: 5;
  margin: 0 20px 68px;
  padding-top: 50px;

  @include media($lg) {
    padding: 210px 0 0;
  }

  h2 {
    margin: 0 auto 130px;

    @include media($lg) {
      position: absolute;
      left: 50%;
      top: -135px;
      transform: translateX(-50%);
    }
  }

  ul {
    display: grid;
    grid-gap: 0 140px;
    grid-template-columns: 1fr 1fr 1fr;

    @include media(1400px) {
      grid-gap: 0 100px;
    }

    @include media($xl) {
      grid-gap: 0 60px;
    }

    @include media(1070px) {
      grid-gap: 0 30px;
    }

    @include media($lg) {
      grid-gap: 100px 0;
      grid-template-columns: 1fr;
    }

    li {
      width: 100%;

      &:nth-child(2) {
        .rules__img {
          right: -20%;
          top: -120px;

          @include media(1100px) {
            right: -10%;
          }

          @include media($md) {
            right: 0;
            top: -80px;
          }
        }

        .rules__decor {
          &::after {
            content: "02";
          }
        }
      }

      &:nth-child(3) {
        .rules__decor {
          &::after {
            content: "03";
          }
        }
      }

      p {
        @include media(1400px) {
          font-size: 22px;
        }

        @include media(1180px) {
          font-size: 20px;
        }

        @include media($lg) {
          font-size: 18px;
          text-align: center;
        }

        @include media($md) {
          font-size: 16px;
        }
      }

      h4 {
        margin-bottom: 40px;
        font-size: 32px;
        line-height: 1;
        text-transform: uppercase;

        @include media(1600px) {
          margin-bottom: 20px;
        }

        @include media($lg) {
          font-size: 28px;
          text-align: center;
        }

        @include media($md) {
          font-size: 24px;
        }
      }

      .rules__img {
        position: absolute;
        right: -10%;
        top: -60px;

        @include media(1100px) {
          right: 0;
        }

        @include media($md) {
          max-width: 95%;
        }

        @include media($sm) {
          top: -50px;
        }

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          z-index: -1;
          opacity: 0.2;
          width: 100%;
          height: 100%;
          background-color: #fff;
          filter: blur(40px);
          transform: translate(-50%, -50%) rotate(-15deg);
        }
      }

      .rules__helper {
        position: relative;
        z-index: 5;
        width: 100%;
        height: 100%;

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: -10%;
          z-index: -1;
          width: 80px;
          height: 80px;
          background-color: #239ae3;
          filter: blur(55px);
          transform: translateX(-50%);
        }
      }

      .rules__decor {
        position: relative;
        margin-bottom: 71px;
        margin-left: 30px;
        width: 250px;
        height: 100px;
        border: 3px solid #239ae3;
        border-radius: 5px;
        background-color: transparent;

        @include media(1070px) {
          width: 230px;
        }

        @include media($lg) {
          margin: 0 auto 60px;
          width: 250px;
        }

        @include media($md) {
          width: 230px;
        }

        @include media($sm) {
          margin-bottom: 50px;
          width: 200px;
        }

        &::after,
        &::before {
          position: absolute;
          left: -30px;
          bottom: -30px;
          width: 60px;
          height: 60px;
          background-color: #239ae3;

          @include media($sm) {
            left: -20px;
            bottom: -20px;
          }
        }

        &::before {
          content: "";
          opacity: 0.5;
          border-radius: 5px;
          filter: blur(12.5px);
        }

        &::after {
          content: "01";
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          font-weight: 700;
          font-size: 24px;
          line-height: 1;
          text-transform: uppercase;
        }
      }
    }
  }

  &__container-second {
    position: relative;
    padding: 110px 0 100px;

    @include media(1600px) {
      padding: 90px 0;
    }

    @include media($xl) {
      padding: 80px 0;
    }

    @include media($lg) {
      padding: 80px 0;
    }

    @include media($md) {
      padding: 80px 0 60px;
    }

    &::before {
      right: 0;
      bottom: 0;
      transform: rotate(180deg);
    }

    &::before,
    &::after {
      content: url("../images/deco1.svg");
      position: absolute;
      width: 82px;
      height: 82px;
    }

    &::after {
      right: 0;
      top: 0;
      transform: rotate(90deg);
    }
  }

  &__container {
    position: relative;
    margin: 0 auto;
    max-width: 1680px;
    background-image: url("../images/rules-bg.png?as=webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
      left: 0;
      bottom: 0;
      transform: rotate(270deg);
    }

    &::before,
    &::after {
      content: url("../images/deco1.svg");
      position: absolute;
      width: 82px;
      height: 82px;
    }

    &::after {
      left: 0;
      top: 0;
    }
  }
}

.route {
  position: relative;
  padding: 120px 0 40px;
  overflow: hidden;
  background-image: url("../images/route-bg.png?as=webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include media($md) {
    padding: 100px 0 40px;
  }

  h2 {
    margin: 0 auto 92px;
    width: fit-content;
    text-align: right;

    @include media(900px) {
      margin: 0 auto 60px;
    }
  }

  .rv-button {
    margin-top: 110px;
    margin-left: 30px;
    width: auto;

    @include media(900px) {
      margin-top: 80px;
      margin-left: 0;

      span {
        font-size: 18px;
      }
    }

    @include media($sm) {
      span {
        font-size: 16px;
      }
    }

    span {
      margin-right: 20px;
    }
  }

  &__list {
    .route__box-first {
      display: grid;
      grid-gap: 0 70px;
      grid-template-columns: 1fr 1fr 1fr;
      margin-bottom: 70px;

      @include media(1313px) {
        grid-gap: 0 30px;
        margin-bottom: 50px;
      }

      @include media(1061px) {
        grid-gap: 0 15px;
      }

      @include media(900px) {
        grid-gap: 40px 0;
        grid-template-columns: 1fr;
      }
    }

    .route__box-third {
      display: grid;
      grid-gap: 0 70px;
      grid-template-columns: 1fr 1fr 1fr;

      @include media(1313px) {
        grid-gap: 0 30px;
      }

      @include media(1061px) {
        grid-gap: 0 15px;
      }

      @include media(900px) {
        grid-gap: 40px 0;
        grid-template-columns: 1fr;
      }
    }

    .route__box-second {
      display: grid;
      grid-gap: 0 70px;
      grid-template-columns: 1fr 1fr;
      margin: 70px 0;

      @include media(1313px) {
        grid-gap: 0 30px;
        margin: 50px 0;
      }

      @include media(1061px) {
        grid-gap: 0 15px;
      }

      @include media(900px) {
        grid-gap: 40px 0;
        grid-template-columns: 1fr;
      }
    }

    .route__item {
      position: relative;
      z-index: 5;
      margin-left: 30px;

      @include media(900px) {
        margin-left: 0;
      }

      &::after,
      &::before {
        position: absolute;
        left: -30px;
        top: -30px;
        width: 60px;
        height: 60px;
        background-color: #239ae3;

        @include media(900px) {
          left: 50%;
          transform: translateX(-50%);
        }
      }

      &::before {
        content: "";
        opacity: 0.5;
        border-radius: 5px;
        filter: blur(12.5px);
      }

      &::after {
        content: "01";
        z-index: 15;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        font-weight: 700;
        font-size: 24px;
        line-height: 1;
        text-transform: uppercase;
      }

      h5,
      h6 {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 4;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 107px;
        height: 60px;
        min-width: max-content;
        font-weight: 700;
        font-size: 16px;
        line-height: 1;
        text-transform: uppercase;
        color: #000;
        background-color: #fff;
        transform: translateX(-50%) rotate(-10deg);
      }

      h6 {
        z-index: 2;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        transform: translateX(-50%) rotate(30deg);
      }

      .route__wrap {
        position: relative;
        z-index: 5;
        padding: 40px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border: 3px solid #239ae3;
        border-radius: 5px;

        @include media(1313px) {
          padding: 40px 25px 25px;
        }

        &::after {
          content: "";
          position: absolute;
          right: -80px;
          bottom: -80px;
          z-index: -1;
          width: 200px;
          height: 200px;
          border-radius: 50%;
          background-color: #239ae3;
          filter: blur(100px);
        }
      }

      h4 {
        margin-bottom: 40px;
        line-height: 1;
        text-transform: uppercase;

        @include media(1213px) {
          margin-bottom: 30px;
        }

        @include media($lg) {
          margin-bottom: 20px;
        }
      }

      p {
        @include media(1213px) {
          font-size: 22px;
        }

        @include media(1061px) {
          font-size: 20px;
        }

        @include media($md) {
          font-size: 18px;
        }
      }
    }

    .item7,
    .item8,
    .item9 {
      min-height: 280px;

      h4 {
        position: relative;
        z-index: 5;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        padding-right: 40px;
        width: 100%;
        height: 30px;

        &::after {
          content: url("../images/stop.svg");
          position: absolute;
          right: 0;
          bottom: 4px;
          width: 30px;
          height: 30px;
        }
      }
    }

    .item2 {
      &::after {
        content: "02";
      }
    }

    .item3 {
      &::after {
        content: "03";
      }
    }

    .item4 {
      &::after {
        content: "04";
      }
    }

    .item5 {
      &::after {
        content: "05";
      }
    }

    .item6 {
      &::after {
        content: "06";
      }
    }

    .item7 {
      &::after {
        content: "07";
      }
    }

    .item8 {
      &::after {
        content: "08";
      }

      h6 {
        transform: translateX(-50%) rotate(10deg);
      }

      h5 {
        transform: translateX(-50%) rotate(-15deg);
      }
    }

    .item9 {
      &::after {
        content: "09";
      }

      h5 {
        transform: translateX(-50%) rotate(15deg);
      }

      h6 {
        transform: translateX(-50%) rotate(308deg);
      }
    }
  }
}

.footer {
  visibility: visible;
  opacity: 1;
  margin-top: 70px;
  transition: all 0.4s;
}

.vacancy {
  position: relative;
  padding: 140px 0 0;
  overflow: hidden;
  background-image: url("../images/vacancy-bg.png?as=webp");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;

  @include media($md) {
    padding: 100px 0 0;
  }

  h2 {
    margin: 0 auto 45px;
    width: fit-content;
    text-align: left;

    span {
      transform: rotate(5deg);
    }
  }

  &__people,
  &__button,
  &__info {
    position: relative;

    &::after,
    &::before {
      content: url("../images/deco1.svg");
      position: absolute;
      width: 82px;
      height: 82px;
    }

    &::before {
      left: 0;
      bottom: 0;
      transform: rotate(-90deg);
    }

    &::after {
      left: 0;
      top: 0;
    }
  }

  &__man {
    width: 100%;
    max-width: 45%;

    @include media($lg) {
      max-width: 100%;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include media($lg) {
      flex-direction: column-reverse;
    }
  }

  &__people-wrap {
    position: relative;
    padding: 40px;

    @include media(1400px) {
      padding: 20px;
    }

    &::after,
    &::before {
      content: url("../images/deco1.svg");
      position: absolute;
      width: 82px;
      height: 82px;
    }

    &::before {
      right: 0;
      bottom: 0;
      transform: rotate(180deg);
    }

    &::after {
      right: 0;
      top: 0;
      transform: rotate(90deg);
    }
  }

  &__people-box {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 60px 60px 0;
    overflow: hidden;
    border: 4px solid #239ae3;
    border-radius: 5px;

    &::after,
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: #239ae3;
      filter: blur(100px);
    }

    &::before {
      right: -23%;
      bottom: 24%;
    }

    &::after {
      left: -12%;
      top: 17%;
    }

    img {
      @include media($lg) {
        max-width: 250px;
      }
    }
  }

  &__button {
    margin-top: -2px;
  }

  &__button-wrap {
    position: relative;
    padding: 40px;

    @include media(1400px) {
      padding: 20px;
    }

    &::after,
    &::before {
      content: url("../images/deco1.svg");
      position: absolute;
      width: 82px;
      height: 82px;
    }

    &::before {
      right: 0;
      bottom: 0;
      transform: rotate(180deg);
    }

    &::after {
      right: 0;
      top: 0;
      transform: rotate(90deg);
    }
  }

  &__info {
    width: 100%;
    max-width: 55%;

    @include media($lg) {
      max-width: 100%;
    }

    &::after,
    &::before {
      left: -2px;

      @include media($lg) {
        left: 0;
      }
    }

    h4 {
      margin-bottom: 53px;
      font-weight: 700;
      font-size: 24px;
      line-height: 1;
      text-transform: uppercase;

      @include media(1067px) {
        margin-bottom: 20px;
        font-size: 20px;
      }
    }
  }

  &__info-wrap {
    position: relative;
    padding: 50px;
    height: 100%;

    @include media(1400px) {
      padding: 20px;
    }

    &::after,
    &::before {
      content: url("../images/deco1.svg");
      position: absolute;
      width: 82px;
      height: 82px;
    }

    &::before {
      right: 0;
      bottom: 0;
      transform: rotate(180deg);
    }

    &::after {
      right: 0;
      top: 0;
      transform: rotate(90deg);
    }

    h3 {
      max-width: 320px;
      font-size: 48px;
      text-transform: uppercase;

      @include media(1400px) {
        font-size: 30px;
      }

      @include media(1067px) {
        margin-bottom: 40px;
        max-width: 100%;
      }
    }
  }

  &__info-inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;

    @include media(1067px) {
      flex-direction: column;
      margin-bottom: 40px;
    }
  }

  &__bard {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    width: 100%;
    border: 3px solid #239ae3;
    border-radius: 5px;

    &::before {
      content: "";
      position: absolute;
      left: -30px;
      top: -30px;
      opacity: 0.5;
      width: 60px;
      height: 60px;
      border-radius: 5px;
      background-color: #239ae3;
      filter: blur(12.5px);
    }

    &::after {
      content: url("../images/salary.svg");
      position: absolute;
      left: -30px;
      top: -30px;
      z-index: 15;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      border-radius: 5px;
      font-weight: 700;
      font-size: 24px;
      line-height: 1;
      text-transform: uppercase;
      background-color: #239ae3;
    }

    h3 {
      font-size: 48px;
      text-align: center;
      text-transform: uppercase;

      @include media(1260px) {
        font-size: 30px;
      }

      @include media(1067px) {
        margin-bottom: 10px;
      }
    }

    p {
      text-align: center;

      @include media(1260px) {
        font-size: 20px;
      }

      @include media($lg) {
        font-size: 16px;
      }
    }
  }

  &__bard-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    &::after {
      content: "Выплаты каждый день";
      position: absolute;
      left: 50%;
      bottom: -22px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 12px;
      width: max-content;
      height: 40px;
      border-radius: 5px;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.4;
      text-align: center;
      text-transform: uppercase;
      color: #09031d;
      background-color: #fff;
      transform: translateX(-50%);
    }
  }

  &__bard-inner {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      right: -20px;
      bottom: -20px;
      z-index: -1;
      width: 125px;
      height: 125px;
      border-radius: 50%;
      background-color: #239ae3;
      filter: blur(90px);
    }
  }

  &__table {
    position: relative;

    &::after {
      content: url("../images/vacancy-text.svg");
      position: absolute;
      left: 0;
      bottom: -40%;

      @include media(1260px) {
        bottom: -20%;
        transform: scale(0.8);
      }

      @include media(1067px) {
        transform: scale(0.6);
      }
    }

    li {
      position: relative;
      padding-top: 13px;
      padding-left: 100px;

      @include media(1067px) {
        padding-left: 77px;
      }

      &::after,
      &::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 60px;
        height: 60px;
        background-color: #239ae3;
      }

      &::before {
        content: "";
        opacity: 0.5;
        border-radius: 5px;
        filter: blur(12.5px);
      }

      &::after {
        content: "01";
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        font-weight: 700;
        font-size: 24px;
        line-height: 1;
        text-transform: uppercase;
      }

      &:nth-child(2) {
        &::after {
          content: "02";
        }
      }

      p {
        @include media(1260px) {
          font-size: 20px;
        }

        @include media(1067px) {
          font-size: 16px;
        }
      }

      &:first-of-type {
        p {
          max-width: 353px;
        }
      }

      &:not(:last-child) {
        margin-bottom: 19px;
      }
    }
  }
}

.footer--inactive {
  visibility: hidden;
  opacity: 0;

  .burger {
    z-index: -1;
  }
}